<h1>Programming Books List!</h1>
<!-- <button
  (click)="handleClick()"
  (mouseover)="handleClick()"
  [disabled]="isDisabled"
>
  Show Books
</button> -->
<!-- <button (click)="toggleBooks()">
  <ng-container *ngIf="!isShowing">Show Books</ng-container>
  <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button> -->
<!-- <input type="text" [(ngModel)]="myValue" /> -->
<!-- <p>{{ myValue }}</p> -->
<ul *ngIf="isShowing">
  <ng-container *ngFor="let singleBook of books; let i = index">
    <app-book (bookEmitter)="addToCart($event)" [book]="singleBook"></app-book>
  </ng-container>
</ul>
